body {
    color: #ffffff;
    font-family: "Courier New", Courier, monospace;
    background: #000000;
    background-size: 100%;
}

.laser {
    stroke: #ffff00;
}

.fighter {
    fill: #00af00;
    stroke-width: 0;
}

.crosshair {
    opacity: .3;
    stroke: #00ff00;
    stroke-width: 1;
    fill: none;
}

.bullseye {
    stroke-width: 0;
    stroke: #ff0000;
    fill: #ff0000;
}

#controls {
    display: none;
}

#stage {
    position: absolute;
    left: 450px;
    top: 80px;
}